body
{
	width: 100%;
	height: 90%;
	font-family: Helvetica;
}

/*TWEET_Content*/
.item
{
  	margin: 1% 2%;
  	padding: 3px;
}

.item > header
{
  	overflow: auto;
}

.item > header > img
{
  	float: left;
  	border-radius: 7px;
}

.item > header > h1
{
  	font-size: 1em;
  	margin: 0 50px;
}

.item > header > h1 > small
{
  	margin: 0 5px;
  	font-weight: lighter;
  	font-style: italic;
}

.footer-links
{
  	text-align:right;
  	display: inline;
}

.footer-links > a
{
  	margin: 0 2px;
  	color: #FFF;
  	font-size: 0.8em;
  	font-style: italic;
  	text-decoration: none;
}

.tweet-content
{
  	font-size: 0.8em;
}

nav.nav-top-fixed
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #3D93D0;
}

/* NAV_Content */
nav.nav-top-fixed > header > h1
{
  	color: #FFFFFF;
  	font-size: 1.6em;
  	margin: 4px 0 22px 10px ;
}

nav.nav-top-fixed > .nav-inner
{
  	background-color: #161616;
  	color: #FFFFFF;
  	width: 100%;
  	margin-top: -23px;
  	height: 45px;
  	text-align: center;
  	display: block;
}

.icon
{
    display: inline-block;
    margin-top: 4px;
    width: 20%;
    border-radius: 4px;
}

.icon.active
{
  	background-color: #333336;
}

.icon:hover
{
  	background-color: #005F5F;
  	transition: .5s background-color;
}

.icon > *
{
  	display: block;
  	color: #FFFFFF;
  	text-decoration: none;
}

.content
{
  	margin-top: 80px;
}

/*SearchStyle*/
.search-header
{
    text-align: center;
}

.search-header > *
{
    margin-top : 10px;
}

/* AutoSize in Desktop */
@media screen and (min-width: 1024px){
    .content
    {
	      background-color: #FFFFFF;
	      width: 40%;
	      margin-left: auto;
	      margin-right: auto;
  	}
  	body
  	{
    	background-image: url('../libs/background.jpg');
  	}
}